.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.journal-form input,
.journal-form textarea {
  border-radius: 10px;
  padding: 12px;
}

.invalid-input {
  outline: 1px solid indianred;
  background: rgba(255, 0, 0, 0.2);
}
