.journal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.form-row {
  display: flex;
  align-items: center;
}

.input {
  border: none;
  background: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Source Sans 3', sans-serif;
  border-bottom: 1px solid #323232;
  width: 100%;
  padding: 10px;
  transition: outline .2s ease, background .2s ease, border-radius .2s ease;
  /*transition: all .2s ease;*/
}

.input:focus {
  outline: 2px solid #5B42F3FF;
  border-radius: 10px;
}

textarea {
  resize: vertical;
}

/*.input::-webkit-inner-spin-button,*/
/*.input::-webkit-calendar-picker-indicator {*/
/*  display: none;*/
/*  -webkit-appearance: none;*/
/*}*/

.invalid-input {
  border-radius: 10px;
  outline: 2px solid indianred;
  background: rgba(255, 0, 0, 0.2);
}

.delete {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  height: 30px;
  width: 30px;
}

.delete:hover {
  background: rgb(255, 255, 255, 0.05);
  border-radius: 50%;
}